<footer class="hidden-sm hidden-xs">
    <div class="container footer-container">
        <div class="row">

            <div class="col-lg-2 col-md-3">
                <h3 class="footer-col-title">News</h3>
                <ul>
                    <li><a href="/news/s/comunidades">Comunities</a></li>
                    <li><a href="/news/s/educacao">Education</a></li>
                    <li><a href="/news/s/politica">Policy</a></li>
                    <li><a href="/news/s/mundo">World</a></li>
                    <li><a href="/news/s/empregos">Jobs</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3">
                <h3 class="footer-col-title">Sports</h3>
                <ul>
                    <li><a href="/news/s/campeonato-brasileiro">Brazilian Cup</a></li>
                    <li><a href="/news/s/futebol">Soccer</a></li>
                    <li><a href="/news/s/olimpiadas">Olympics</a></li>
                    <li><a href="/news/s/ufc">UFC</a></li>
                    <li><a href="/news/s/formula1">Formula 1</a></li>
                    <li><a href="/news/s/stockcar">StockCar</a></li>
                    <li><a href="/news/s/nba">NBA</a></li>
                    <li><a href="/news/s/volei">Voleyball</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3">
                <h3 class="footer-col-title">Economy</h3>
                <ul>
                    <li><a href="/news/s/moedas">Money</a></li>
                    <li><a href="/news/s/bolsa-de-valores">Banks</a></li>
                    <li><a href="/news/s/empreendimentos">Enterprises</a></li>
                    <li><a href="/news/s/pequenos-negocios">Small Business</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-orange">
        <div class="container footer-orange-text">
            PikiNews
        </div>
    </div>
</footer>
<div class="footer-orange visible-sm visible-xs hidden-md hidden-lg">
    <div class="container footer-orange-text">
        PikiNews
    </div>
</div>
