<div class="container-fluid header">
    <div class="container">
        <div class="row">
            <p class="logo col-lg-6"><i class="glyphicon glyphicon-bookmark"></i> PikiNews</p>

            <div class="col-lg-6">
                <div class="social-links pull-right">
                    <a class="btn btn-lg"
                       href="#"
                       data-position="bottom" data-delay="50" data-tooltip="Facebook">
                        <i class="fa fa-facebook fa-5x"></i>
                    </a>
                    <a class="btn btn-lg"
                       href="#"
                       data-position="bottom" data-delay="50" data-tooltip="Twitter">
                        <i class="fa fa-twitter fa-5x"></i>
                    </a>
                    <a class="btn btn-lg"
                       href="#"
                       data-position="bottom" data-delay="50" data-tooltip="Newsletter">
                        <i class="fa fa-rss fa-5x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>