<div class="row">

  <!-- Carousel -->
  <div class="col-lg-7">
    <div uib-carousel active="active" interval="4000" class="main-carousel">
      <div uib-slide ng-repeat="item in slides" index="$index" class="item-carousel">
        <img class="carousel-img" ng-src="{{item.imageThumb}}" alt="{{item.title}}">
        <div class="carousel-caption">
          <h3>{{item.title}}</h3>
          <p>{{item.subtitle}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="row">
      <div class="col-lg-6"
           ng-repeat="item in breakingNews | limitTo:4">
        <a href="#!/news/{{item.uid}}">
          <img class="img-responsive news-block-img" ng-src="{{item.imageThumb}}" alt="{{item.title}}">
          <h3 class="news-block-title">{{item.title}}</h3>
        </a>
      </div>

    </div>
  </div>

</div>

<div class="row">

  <!--World News-->
  <div class="col-lg-4 worldnews-col">
    <h2 class="page-header">Mundo</h2>
    <!--Header news -->
    <a href="#!/news/{{worldNews.header.uid}}">
      <img class="img-responsive news-block-img" ng-src="{{worldNews.header.imageThumb}}" alt="{{worldNews.header.title}}">
      <h3 class="news-block-title">{{worldNews.header.title}}</h3>
    </a>
    <hr/>

    <!--small news-->
    <div ng-repeat="item in worldNews.items | limitTo:4">
      <div class="row">
        <a href="#!/news/{{item.uid}}">
          <div class="col-lg-5"><img class="img-responsive news-block-img"
                                     ng-src="{{item.imageThumb}}"
                                     alt="{{item.title}}"></div>
          <h4 class="col-lg-7 news-block-title">{{item.title}}</h4>
        </a>
      </div>
      <br/>
    </div>
  </div>

  <!--Sports Col-->
  <div class="col-lg-4 sports-col">
    <h2 class="page-header">Esporte</h2>
    <!--Header news -->
    <a href="#!/news/{{sportNews.header.uid}}">
      <img class="img-responsive news-block-img" ng-src="{{sportNews.header.imageThumb}}" alt="{{sportNews.header.title}}">
      <h3 class="news-block-title">{{sportNews.header.title}}</h3>
    </a>
    <hr/>

    <!--small news-->
    <div ng-repeat="item in sportNews.items | limitTo:4">
      <div class="row">
        <a href="#!/news/{{item.uid}}">
          <div class="col-lg-5"><img class="img-responsive news-block-img"
                                     ng-src="{{item.imageThumb}}"
                                     alt="{{item.title}}"></div>
          <h4 class="col-lg-7 news-block-title">{{item.title}}</h4>
        </a>
      </div>
      <br/>
    </div>
  </div>

  <!--Multimidia Col-->
  <div class="col-lg-4">
    <h2 class="page-header">Entretenimento</h2>
    <!--Header news -->
    <a href="#!/news/{{mediaNews.header.uid}}">
      <img class="img-responsive news-block-img" ng-src="{{mediaNews.header.imageThumb}}" alt="{{mediaNews.header.title}}">
      <h3 class="news-block-title">{{mediaNews.header.title}}</h3>
    </a>
    <hr/>

    <!--small news-->
    <div ng-repeat="item in mediaNews.items | limitTo:4">
      <div class="row">
        <a href="#!/news/{{item.uid}}">
          <div class="col-lg-5"><img class="img-responsive news-block-img"
                                     ng-src="{{item.imageThumb}}"
                                     alt="{{item.title}}"></div>
          <h4 class="col-lg-7 news-block-title">{{item.title}}</h4>
        </a>
      </div>
      <br/>
    </div>
  </div>

</div>

<!--Tech News-->
<div class="row tech-col">
  <div class="col-lg-12"><h2 class="page-header">Tecnologia</h2></div>
  <div class="col-lg-3" ng-repeat="item in techNews | limitTo:4">
    <a href="#!/news/{{item.uid}}">
      <img class="img-responsive news-block-img" ng-src="{{item.imageThumb}}" alt="{{item.title}}">
      <h4 class="news-block-title">{{item.title}}</h4>
    </a>
  </div>
</div>