<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PikiNews</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <link rel="stylesheet" href="/build/all.css">
    </head>

    <body>
        <div class="wrapper">
            <!--Menu-->
            <%- include partials/menu.html %>

            <!--Header-->
            <%- include partials/header.html %>

            <!--App Container-->
            <div class="container app-container"><%- body %></div>

            <div class="push hidden-sm hidden-xs"></div>
        </div>

        <!--Footer-->
        <%- include partials/footer.html %>

        <!--Scripts-->
        <script src="/build/all.js"></script>
    </body>
</html>
