<div class="row">
    <div class="col-lg-8 col-news">

        <div ng-repeat="item in searchNews">
            <div class="search-news-block row">
                <a href="#!/news/{{item.uid}}">
                    <div class="col-lg-6">
                        <img class="img-responsive news-block-img" ng-src="{{item.imageThumb}}" alt="{{item.title}}">
                    </div>
                    <div class="col-lg-6">
                        <h3 class="search-news-block-title">{{item.title}}</h3>
                        <p class="search-news-subtitle">{{item.subtitle}}</p>
                        <p class="search-news-date">{{item.createdAt | date:'medium'}}</p>
                    </div>
                </a>
            </div>
            <hr/>
        </div>


    </div>

    <div class="col-lg-4 news-related">
        <div class="merchan">
            <img class="merchan-img" ng-src="http://xpenology.org/wp-content/themes/qaengine/img/default-thumbnail.jpg">
            <img class="merchan-img" ng-src="http://xpenology.org/wp-content/themes/qaengine/img/default-thumbnail.jpg">
        </div>


        <h3 class="page-header news-related-title">Principais</h3>

        <div ng-repeat="item in breakingNews">
            <div class="row">
                <a href="#!/news/{{item.uid}}">
                    <div class="col-lg-5"><img class="img-responsive news-block-img"
                                               ng-src="{{item.imageThumb}}"
                                               alt="..."></div>
                    <h4 class="col-lg-7 news-block-title">{{item.title}}</h4>
                </a>
            </div>
            <hr/>
        </div>
    </div>
</div>