/* General Styles */

html, body {
    height:100%;
    background: #ececec;
}
a {  color: #F9A825;  }
a:hover {
    text-decoration: none !important;
    color: #122b40 !important;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.navbar a:hover {  color: #fff !important;  }

@font-face {
    font-family: 'ambient';
    src: url('../fonts/AMBIENT.TTF');
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -250px;
}

.clear{  clear: both;}

/* Header Styles */
.logo {
    font-family: ambient, serif;
    font-size: 55px;
}
.menu {
    margin-bottom: 0px !important;
    background: #000 !important;
    border-bottom: #F9A825 5px solid;
}
.header {
    background: #FFF;
    padding: 50px 0;
    margin-bottom: 20px;
}
.social-links a {  margin: 0 10px;  }
.social-links i {  font-size: 4.0rem !important;  }


/*Footer*/
footer a:hover {  text-decoration: underline !important; }
.footer-orange {
    background: #F9A825;
    /*height: 50px;*/
    padding: 15px 0;
}
.footer-orange-text {
    font-family: ambient;
    font-size: 24px;
}
footer, .push {  height: 270px;  }
footer {  background: #FFC107;  }
footer a {  color: #333;  }
footer a:hover {  color: #333;  }
footer ul {  padding:0 0 0 10px;  }
footer ul li {
    list-style: none;
    padding:0px;
}
.footer-col-title {  color: #333;  }
.footer-container {  padding:20px;  }
.app-container {
    background:#FFF;
    padding: 20px;
}

/* Home */
.main-carousel, .item-carousel {
    width: 650px;
    height: 390px;
}
.carousel-img {
    width: 100% !important;
    height: 100% !important;
}

.news-block-img {
    border-radius: 3px;
    width:100%;
}
.news-block-img-lg {
    height:205px;
}
.news-block-img-md {
    height:150px;
}
.news-block-img-sm {
    height:122px;
}
.news-block-img-xs {
    height:75px;
}


.news-block-title {
    margin:8px 0 20px 0;
}

.worldnews-col a {  color: #cd150c !important;  }
.worldnews-col a:hover { color: #122b40 !important; }

.breakingnews a {  color: #cd150c !important;  }
.breakingnews a:hover { color: #122b40 !important; }

.sports-col a {  color: #359e00 !important;  }
.sports-col a:hover { color: #122b40 !important; }

.tech-col a {  color: #888 !important;  }
.tech-col a:hover { color: #122b40 !important; }


/*News Page*/
.col-news {
    border-right: 1px solid #ececec;
}
.news-date {
    color: #999;
    font-size: smaller;
    margin: 0;
}
.news-author {
    text-align: right;
    font-size: smaller;
    color: #929292;
}
.news-title {
    margin-top: 0;
}
.news-subtitle {
    color: #929292;
}
.news-content {
    text-align: left;
    color: #333333;
    font-size: 1.1em;
    line-height: 1.45em;
    margin-top: 2em;
}
.news-content-bottom-separator {
    background-color: #ececec;
    height: 1em;
    width: 100%;
    margin-top: 4em;
}
.news-related-title {
    margin-top: 0;
}
.merchan-img {
    margin-bottom: 1em;
    width: 100%;
}

/*Search Neews Page*/
.search-news-block-title {  margin : 0;  }

.search-news-block a {  color: #cd150c !important;  }
.search-news-block a:hover { color: #122b40 !important; }

.search-news-subtitle {
    color: #000;
    margin-top: 1em;
}
.search-news-date {
    color: #999;
    font-size: 0.8em;
}