<div class="row">
    <div class="col-lg-8 col-news">
        <div class="row">
            <div class="col-lg-6"><p class="news-date">01/02/2017 14h59 - Atualizado em 01/02/2017 17h02</p></div>
            <div class="col-lg-6 news-author"><strong>Autor:</strong> Antony Alkmim</div>
        </div>

        <div class="page-header news-title">
            <h1 class="">Lorem ipsum dolor sit amet</h1>
            <h4 class="news-subtitle">Consectetuer adipiscing elit, sed diam nonummy nibh euismod.</h4>
        </div>

        <img width="100%"
             src="http://s2.glbimg.com/UaEgn1Hynm-NUk6Sh44_JKgBJHM=/s.glbimg.com/og/rg/f/original/2016/09/02/brasil.jpg">

        <div class="news-content">
            <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>

        </div>
        <div class="news-content-bottom-separator"></div>
    </div>

    <div class="col-lg-4 news-related">
        <h3 class="page-header news-related-title">Relacionados</h3>
        <div class="row">
            <a href="#!/">
                <div class="col-lg-5"><img class="img-responsive news-block-img"
                                           src="http://s2.glbimg.com/UaEgn1Hynm-NUk6Sh44_JKgBJHM=/s.glbimg.com/og/rg/f/original/2016/09/02/brasil.jpg"
                                           alt="..."></div>
                <h4 class="col-lg-7 news-block-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h4>
            </a>
        </div>
        <hr/>

        <div class="row">
            <a href="#!/">
                <div class="col-lg-5"><img class="img-responsive news-block-img"
                                           src="http://s2.glbimg.com/UaEgn1Hynm-NUk6Sh44_JKgBJHM=/s.glbimg.com/og/rg/f/original/2016/09/02/brasil.jpg"
                                           alt="..."></div>
                <h4 class="col-lg-7 news-block-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h4>
            </a>
        </div>
        <hr/>

        <div class="row">
            <a href="#!/">
                <div class="col-lg-5"><img class="img-responsive news-block-img"
                                           src="http://s2.glbimg.com/UaEgn1Hynm-NUk6Sh44_JKgBJHM=/s.glbimg.com/og/rg/f/original/2016/09/02/brasil.jpg"
                                           alt="..."></div>
                <h4 class="col-lg-7 news-block-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h4>
            </a>
        </div>
        <hr/>

        <div class="row">
            <a href="#!/">
                <div class="col-lg-5"><img class="img-responsive news-block-img"
                                           src="http://s2.glbimg.com/UaEgn1Hynm-NUk6Sh44_JKgBJHM=/s.glbimg.com/og/rg/f/original/2016/09/02/brasil.jpg"
                                           alt="..."></div>
                <h4 class="col-lg-7 news-block-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h4>
            </a>
        </div>
        <hr/>

        <div class="row">
            <a href="#!/">
                <div class="col-lg-5"><img class="img-responsive news-block-img"
                                           src="http://s2.glbimg.com/UaEgn1Hynm-NUk6Sh44_JKgBJHM=/s.glbimg.com/og/rg/f/original/2016/09/02/brasil.jpg"
                                           alt="..."></div>
                <h4 class="col-lg-7 news-block-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h4>
            </a>
        </div>
        <hr/>


        <div class="merchan">
            <img class="merchan-img" src="http://xpenology.org/wp-content/themes/qaengine/img/default-thumbnail.jpg">
            <img class="merchan-img" src="http://xpenology.org/wp-content/themes/qaengine/img/default-thumbnail.jpg">
        </div>

    </div>
</div>